/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(214, 120, 36);
  --first-alpha-color: rgba(214, 120, 36, 0.75);

  --navbar-color: rgb(27, 27, 27);
}
/* ********** Reset Styles ********** */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: #f5f5f5;
}

a {
  color: var(--first-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: rgb(255, 255, 255);
}

/* ********** Bootstrap Styles ********** */

.bg-dark {
  background-color: var(--navbar-color) !important;
}

.card-img-top {
  box-shadow: 0 0 5px var(--first-alpha-color);
}

.navbar-brand img {
  height: 4rem;
  width: auto;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28214, 120, 36, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.navbar-dark .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-collapse li {
  transition: all 0.3s ease-out;
}
.navbar-collapse li:hover {
  background-color: var(--first-alpha-color);
}

.nav-item {
  transition: all 0.3s ease-out;
}

.nav-link {
  color: white;
  font-size: 1.15rem;
  font-weight: bold;
}

.nav-link:hover {
  color: white;
}

/* ********** My Styles ********** */

.active {
  color: white;
}

.active:hover {
  color: white !important;
}

.carrito {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}

.carrito:hover {
  color: rgba(255, 255, 255, 0.75);
}

.card-product {
  width: 18rem;
}

.card-detail {
  max-width: 800px !important;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.spinner {
  min-height: 65vh;
  width: 50%;
  align-items: center;
}

#root {
  min-height: 100vh;
}

Footer {
  width: 100%;
}

.ItemDetailContainer {
  min-height: 60vh;
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-collapse li:hover {
    background-color: transparent;
  }

  .nav-link:hover {
    color: var(--first-color);
  }

  .active {
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--first-color);
    text-underline-offset: 0.75rem;
  }

  .active:hover {
    color: var(--first-color) !important;
  }

  .pending {
    color: white;
    text-decoration: none;
  }
}
